.back-icon {
    color: white;
    margin-right: 1rem;
    font-size: 2.5rem;
    vertical-align: middle;
}

.main-iglesia {
    margin-top: 2rem;
}
.iglesia {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.iglesia:last-child {
    margin-bottom: 5rem;
}

.iglesia-tel {
    display: block;
}