:root {
    --primary: #000;
    --negro: #262626;
    --blanco: #FFF;
    --fuente-principal: 'nombre de la fuente', sans-serif;
    --space-between-blocks: 2rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
    background-color: steelblue;
}

img {
    max-width: 100%;
}

[class*="contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

/* -------------------- header -------------------- */

.header {
    margin-top: var(--space-between-blocks);
}

.box-title {
    display: flex;
    align-items: center;
    color: white;
}

.box-title--icon {
    font-size: 3rem;
    margin-right: 1rem;
}
.box-title--text {
    font-size: 2rem;
}

/* -------------------- main -------------------- */

.main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.find {
    width: 100%;
    line-height: 3;
    padding-left: 2rem;
    margin-bottom: var(--space-between-blocks);
}

.btn-box {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 10rem;
}

/* -------------------- footer -------------------- */

.footer {
    text-align: center;
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: steelblue;
}